
post_processing/outputs/final_field.png
post_processing/outputs/total_field.png
post_processing/src/classes_and_files/__pycache__/classes.cpython-38.pyc
post_processing/src/classes_and_files/__pycache__/read_files.cpython-38.pyc
post_processing/src/plots/__pycache__/plot_field.cpython-38.pyc
propagation/outputs/E_field.npy
propagation/outputs/wv_total.npy
propagation/src/atmosphere/__pycache__/genere_n_profile.cpython-38.pyc
propagation/src/classes_and_files/__pycache__/classes.cpython-38.pyc
propagation/src/classes_and_files/__pycache__/read_files.cpython-38.pyc
propagation/src/DSSF/__pycache__/dmft.cpython-38.pyc
propagation/src/DSSF/__pycache__/dssf_one_step.cpython-38.pyc
propagation/src/DSSF/__pycache__/propa_discrete_spectral_domain.cpython-38.pyc
*.pyc
source/outputs/E_field.csv
source/outputs/E_field.npy
GUI/.idea/GUI.iml
GUI/.idea/inspectionProfiles/profiles_settings.xml
GUI/.idea/inspectionProfiles/Project_Default.xml
GUI/.idea/misc.xml
GUI/.idea/modules.xml
GUI/.idea/vcs.xml
GUI/src/__pycache__/dependencies.cpython-38.pyc
GUI/src/__pycache__/gui_ssw_2d.cpython-38.pyc
GUI/src/__pycache__/plots.cpython-38.pyc
post_processing/.idea/inspectionProfiles/profiles_settings.xml
post_processing/.idea/inspectionProfiles/Project_Default.xml
post_processing/.idea/misc.xml
post_processing/.idea/modules.xml
post_processing/.idea/post_processing.iml
post_processing/.idea/vcs.xml
propagation/.idea/vcs.xml
propagation/.idea/propagation.iml
propagation/.idea/modules.xml
propagation/.idea/misc.xml
propagation/.idea/inspectionProfiles/profiles_settings.xml
propagation/.idea/inspectionProfiles/Project_Default.xml
*.pyc
*.pyc
GUI/src/__pycache__/dependencies.cpython-38.pyc
GUI/src/__pycache__/gui_ssw_2d.cpython-38.pyc
GUI/src/__pycache__/plots.cpython-38.pyc
*.pyc
*.png
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/ssw-2d.iml
.idea/vcs.xml
*.pyc
*.pyc
*.npy
propagation/src/propa_cython/wwp_2d_cy.html
propagation/src/propa_cython/wwp_2d_cy.c
propagation/src/propa_cython/wwp_2d_cy.so
propagation/src/propa_cython/refraction_cy.c
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/refraction_cy.c
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/refraction_cy.c
propagation/src/propa_cython/refraction_cy.html
*.c
*.html
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/refraction_cy.html
propagation/src/propa_cython/wavelet_propag_one_step.html
propagation/src/propa_cython/wavelet_propag_one_step.so
propagation/src/propa_cython/wavelet_propag_one_step.c
propagation/src/propa_cython/refraction_cy.c
propagation/src/propa_cython/wavelet_propag_one_step.html
*.html
propagation/src/propa_cython/wavelet_propag_one_step.c
*.so
